{% extends 'user/base.html' %}
{% load static %}

{% block head-title %} User Activation {% endblock %}

{% block content %}
    <h1>{{ message }}</h1>
    {% if not message %}
        {% csrf_token %}
        <form method="post">
            <label for="password">Įvesk naują slaptažodį</label>
            <input type="password" name="password" id="password">
            <p></p>
            <label>Pakartok įvestą slaptažodį</label>
            <input type="password" name="repeat_password" id="repeat_password">
            <input type="hidden" name = "token" value="{{ token }}">
            <input type="hidden" name = "uid" value="{{ uid }}">
            <p></p>
            <button type="submit">Įvesti</button>
        </form>
    {% endif %}

{% endblock content %}