{% extends 'user/base.html' %}
{% load static %}

{% block head-title %} User Activation {% endblock %}

{% block content %}

    <h1>{{ message }}</h1>
    {% if not message %}
        <h1>Password change</h1>
        <form method="post">
            {% csrf_token %}
            <p><label for="password"><span>Please enter the new password</span></label></p>
            <input type="password" name="password" id="password">
            <p></p>
            <p><label><span>Please repeat the password</span></label></p>
            <input type="password" name="repeat_password" id="repeat_password">
            <input type="hidden" name = "token" value="{{ token }}">
            <input type="hidden" name = "uid" value="{{ uid }}">
            <p></p>
            <button type="submit">Submit</button>
        </form>
    {% endif %}

{% endblock content %}
