{% extends 'user/base.html' %}
{% load static %}

{% block head-title %} User Activation {% endblock %}

{% block content %}

    Slaptažodžio keitimas
    <form action = "" method="post">
        {% csrf_token %}
        <label for="password">Įvesk naują slaptažodį</label>
        <input id="password">

        <label for="repeat">Pakartok slaptažodį</label>
        <input id="repeat">

        <input type="hidden" name="token" value="{{ token }}">
        <input type="hidden" name="uid" value="{{ uid }}">

        <button value="submit">Siųsti</button>
    </form>
    <h1>{{ message }}</h1>

{% endblock content %}
