{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block title %} {% translate "Challenge to confirm" %} {% endblock %}

{% block content %}

    <div class="box">
        <div class="title is-2">{% translate "Challenge confirmation" %}</div>
        <div class="block">
            <div class="title is-3">{% translate "Challenge information" %}</div>
            <div class="box"> <strong>{% translate "Challenge name" %}: </strong> {{ joinedchallenge.challenge.name }}</div>
            <div class="box"> <strong>{% translate "Challenge description" %}: </strong> {{ joinedchallenge.challenge.description }}</div>
            <table class="table">
                <thead><tr>
                    <th>{% translate "Challenge type" %}</th>
                    <th>{% translate "Points" %}</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>{{ joinedchallenge.challenge.type }}</td>
                    <td>{{ joinedchallenge.challenge.points }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="block">
            <div class="title is-3">{% translate "User submited information" %}</div>
            <div class="box">
                <strong>{% translate "User joined chalenge at" %}</strong>: {{ joinedchallenge.joined_at }};
                <strong>{% translate "User completed challenge at" %}:</strong> {{ joinedchallenge.completed_at }}
            </div>
            {% if joinedchallenge.articlejoinedchallenge %}
                <div class="box">
                    <strong>{% translate "Article title" %}:</strong> {{ joinedchallenge.articlejoinedchallenge.article_name }};
                    <strong>{% translate "Article URL" %}:</strong> {{ joinedchallenge.articlejoinedchallenge.article_url }}
                </div>
                <div class="box"><strong>{% translate "User description of challenge" %}:</strong> {{ joinedchallenge.articlejoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.customjoinedchallenge %}
                <div class="box">{% translate "User description of challenge" %}: {{ joinedchallenge.customjoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.eventorganizerjoinedchallenge %}
                <div class="box">
                    <strong>{% translate "Name of the organized event" %}:</strong> {{ joinedchallenge.eventorganizerjoinedchallenge.event_name }};
                    <strong>{% translate "URL to organized event" %}:</strong> {{ joinedchallenge.eventorganizerjoinedchallenge.event_url }};
                    <strong>{% translate "Did user organized it alone" %}:</strong> {{ joinedchallenge.eventorganizerjoinedchallenge.organized_alone }};
                </div>
                <div class="box"><strong>{% translate "Description of organized event" %}:</strong> {{ joinedchallenge.eventorganizerjoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.projectjoinedchallenge %}
                <div class="box">
                    <strong>{% translate "Name of the project" %}:</strong> {{ joinedchallenge.projectjoinedchallenge.project_name }};
                    <strong>{% translate "URL to the project" %}:</strong> {{ joinedchallenge.projectjoinedchallenge.project_url }};
                    <strong>{% translate "Did user organized it alone" %}:</strong> {{ joinedchallenge.projectjoinedchallenge.organized_alone }}</div>
                <div class="box"><strong>{% translate "Description of project" %}:</strong> {{ joinedchallenge.projectjoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.reactingjoinedchallenge %}
                <div class="box"><strong>{% translate "User description of challenge" %}:</strong> {{ joinedchallenge.reactingjoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.schoolgsajoinedchallenge %}
                <div class="box"><strong>{% translate "User description of challenge" %}:</strong> {{ joinedchallenge.schoolgsajoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.storyjoinedchallenge %}
                <div class="box"><strong>{% translate "URL of organized event" %}:</strong> {{ joinedchallenge.storyjoinedchallenge.project_url }} </div>
                <div class="box"><strong>{% translate "Description of organized event" %}:</strong> {{ joinedchallenge.storyjoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.supportjoinedchallenge %}
                <div class="box"><strong>{% translate "User description of challenge" %}:</strong> {{ joinedchallenge.supportjoinedchallenge.description }}</div>
            {% endif %}

            <div class="box"><span class="title is-3"> {% translate "Files:" %} </span>
            {% for file in joinedchallenge.files %}
                <div><a href="{{ file.file.url }}" target="_blank">{{ file.file.url }}</a></div>
                <p></p>
            {% endfor %}
            </div>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="joined_challenge_uuid" id="id_joined_challenge_uuid" value="{{ joinedchallenge.uuid }}">
            <button class="button is-primary">{% translate "Confirm" %}</button>
            {# todo Make this "Confirm" button work #}
        </form>
        </div>
    </div>
{% endblock %}
