{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block title %} {% translate "Challenge to confirm" %} {% endblock %}

{% block content %}

    <div class="box">
        <div class="title">{% translate "Challenge confirmation" %}</div>
        <div class="block">
            <div class="title is-2">{% translate "Challenge information" %}</div>
            <div class="box">{% translate "Challenge name" %}: {{ joinedchallenge.challenge.name }}</div>
            <div class="box">{% translate "Challenge type" %}: {{ joinedchallenge.challenge.type }}</div>
            <div class="box">{% translate "Challenge description" %}: {{ joinedchallenge.challenge.description }}</div>
            <div class="box">{% translate "Points" %}: {{ joinedchallenge.challenge.points }}</div>
        </div>
        <div class="block">
            <div class="title is-2">{% translate "User submited information" %}</div>
            <div class="box">{% translate "User joined chalenge at" %}: {{ joinedchallenge.joined_at }}</div>
            <div class="box">{% translate "User completed challenge at" %}: {{ joinedchallenge.completed_at }}</div>
            {% if joinedchallenge.articlejoinedchallenge %}
                <div class="box">{% translate "User description of challenge" %}: {{ joinedchallenge.articlejoinedchallenge.description }}</div>
                <div class="box">{% translate "Article title" %}: {{ joinedchallenge.articlejoinedchallenge.article_name }}</div>
                <div class="box">{% translate "Article URL" %}: {{ joinedchallenge.articlejoinedchallenge.article_url }}</div>
            {% endif %}
            {% if joinedchallenge.customjoinedchallenge %}
                <div class="box">{% translate "User description of challenge" %}: {{ joinedchallenge.customjoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.eventorganizerjoinedchallenge %}
                <div class="box">{% translate "Name of organized event" %}: {{ joinedchallenge.eventorganizerjoinedchallenge.event_name }}</div>
                <div class="box">{% translate "URL of organized event" %}: {{ joinedchallenge.eventorganizerjoinedchallenge.event_url }}</div>
                <div class="box">{% translate "Description of organized event" %}: {{ joinedchallenge.eventorganizerjoinedchallenge.description }}</div>
                <div class="box">{% translate "Did user organized it alone" %}: {{ joinedchallenge.eventorganizerjoinedchallenge.organized_alone }}</div>
            {% endif %}
            {% if joinedchallenge.projectjoinedchallenge %}
                <div class="box">{% translate "Name of organized event" %}: {{ joinedchallenge.projectjoinedchallenge.project_name }}</div>
                <div class="box">{% translate "URL of organized event" %}: {{ joinedchallenge.projectjoinedchallenge.project_url }}</div>
                <div class="box">{% translate "Description of organized event" %}: {{ joinedchallenge.projectjoinedchallenge.description }}</div>
                <div class="box">{% translate "Did user organized it alone" %}: {{ joinedchallenge.projectjoinedchallenge.organized_alone }}</div>
            {% endif %}
            {% if joinedchallenge.reactingjoinedchallenge %}
                <div class="box">{% translate "User description of challenge" %}: {{ joinedchallenge.reactingjoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.schoolgsajoinedchallenge %}
                <div class="box">{% translate "User description of challenge" %}: {{ joinedchallenge.schoolgsajoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.storyjoinedchallenge %}
                <div class="box">{% translate "URL of organized event" %}: {{ joinedchallenge.storyjoinedchallenge.project_url }}</div>
                <div class="box">{% translate "Description of organized event" %}: {{ joinedchallenge.storyjoinedchallenge.description }}</div>
            {% endif %}
            {% if joinedchallenge.supportjoinedchallenge %}
                <div class="box">{% translate "User description of challenge" %}: {{ joinedchallenge.supportjoinedchallenge.description }}</div>
            {% endif %}
{# todo Add "Confirm" button #}
            <div class="box">{% translate "Files:" %} </div>
            {% for file in joinedchallenge.files %}
                <div class="box"><a href="{{ file.file.url }}" target="_blank">{{ file.file.url }}</a></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
