{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block title %} {% translate "List of challenges that are waiting for confirmation" %} {% endblock %}

{% block content %}

    <div class="level">
        <div class="level-left">
            <h1 class="title">{% translate "Challenges confirmation" %}</h1>
        </div>
        <div class="level-right">
            <span class="tag is-medium {% if joinedchallenge_list %}is-danger{% else %}is-success{% endif %} is-rounded">
                {% blocktranslate count counter=joinedchallenge_list|length %}
                    {{ counter }} waiting
                {% plural %}
                    {{ counter }} waiting
                {% endblocktranslate %}
            </span>
        </div>
    </div>

    {% if joinedchallenge_list %}
        <div class="box">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>{% translate "Challenge name" %}</th>
                        <th>{% translate "User" %}</th>
                        <th>{% translate "Type" %}</th>
                        <th>{% translate "Points" %}</th>
                        <th>{% translate "Completed at" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for joined_challenge in joinedchallenge_list %}
                    <tr>
                        <td>{{ joined_challenge.challenge.name }}</td>
                        <td>{{ joined_challenge.user.email }}</td>
                        <td>{{ joined_challenge.challenge.type }}</td>
                        <td>{{ joined_challenge.final_points }}</td>
                        <td>{{ joined_challenge.completed_at|date:"Y-m-d H:i" }}</td>
                        <td class="has-text-right">
                            <a href="{% url 'confirmation-detail' joined_challenge.uuid %}" class="button is-small is-primary">
                                {% translate "Review" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="notification is-success is-light">
            {% translate "No challenges are waiting for confirmation. 🎉" %}
        </div>
    {% endif %}

{% endblock %}
