<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="lt"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="lt"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="lt"> <!--<![endif]-->

<head>

	<!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
<title>Rainbow Challenge - {{ flatpage.title }}</title>
   <meta name="description" content="">
   <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/static/css/base.css">
   <link rel="stylesheet" href="/static/css/vendor.css">
   <link rel="stylesheet" href="/static/css/main.css">

   <!-- Modernizr
   =================================================== -->
   <script src="/static/js/modernizr.js"></script>

   <!-- Favicons
   =================================================== -->
   <link rel="shortcut icon" href="/static/images/favicon.png" >

</head>

<body>

   <!--[if lt IE 9]>
   	<p class="browserupgrade">You are using an <strong>outdated</strong> browser.
   	Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->

   <!-- content-wrap -->
   <div id="content-wrap">

      <!-- main  -->
      <main class="row">

            <header class="site-header">
               <div class="logo">
               	<a href="#">{{ flatpage.title }}</a>
               </div>
            </header>
            <div>Parsisiųskite programėlę čia:
                <a href="https://play.google.com/store/apps/details?id=rainbowchallenge.lt.rainbow_challenge&hl=lt&gl=LT">
                    <img src="/static/images/google-play-badge.png">
                </a>
            </div>
            <div id="main-content" class="twelve columns">

                <p>
                    {{ flatpage.content }}
                </p>

            </div><!-- /main-content form -->

      </main>

   </div><!-- /content-wrap -->

   <footer class="group">

     	<ul class="footer-social">
         <li><a href="https://www.facebook.com/tja.lt"><i class="fa fa-facebook"></i></a></li>
         <li><a href="https://twitter.com/TJA_LT"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://instagram.com/tolerantyouthassociation"><i class="fa fa-instagram"></i></a></li>
     	</ul>

     	<ul class="footer-copyright">
         <li>&copy; Copyright 2021 RAINBOW Challenge</li>
         <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
      </ul>

   </footer>

   <div id="preloader">
    	<div id="loader">
     	</div>
   </div>

<!-- Script
=================================================== -->
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/jquery.fittext.js"></script>
<script src="/static/js/jquery.countdown.min.js"></script>
<script src="/static/js/jquery.placeholder.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>